@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1400px;
  margin: 0;
  padding: 0;

  font-family: "SF Display", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #4F4F4F;
  text-transform: none;
  -webkit-font-kerning: none;
          font-kerning: none;

  background-color: #ffffff;
}

img {
  object-fit: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 0;
  width: 1400px;
}

.title2 {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #040404;
}

.title3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #040404;
}

.title4 {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #040404;
}

.mintext {
  font-family: "SF Display", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4F4F4F;
}

.cta-text {
  font-family: "SF Display", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.extra-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

.feedback-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.feedback-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.menu-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.menu-text--active {
  font-weight: bold;
}

.menu-text:hover span {
  padding-bottom: 4px;
  border-bottom: 1px solid currentColor;
}

.links-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #FF8D31;
}

.button-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  color: #000000;
}

.ms-logo {
  mix-blend-mode: multiply;
}

/* header */

.header .wrapper {
  display: flex;
  padding-top: 56px;
}

.header__logo {
  display: inline-block;
  padding-top: 8px;
  padding-left: 110px;
  width: 423px;
  height: 96px;
}

.header__nav {
  flex-grow: 1;
}

.site-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.site-nav__item {
  display: flex;
}

.site-nav a {
  padding: 10px 10px 10px 10px;
  margin: 7px 51px 7px 0px;
  
  color: inherit;
  text-decoration: none;
}


/* footer */

.footer {
  color: #BDBDBD;
  
  background-color: #484848;
}

.footer .wrapper {
  display: flex;
}


/* main */

.top-image {
  width: 967px;
  height: 628px;
  
  margin-left: auto;
}

.features {
  color: #828282;
  
  background: #333333;
}

.features__list {
  list-style: none;
}

.feature__title {
  color: #FFFFFF;
}

.ourSpecialists {
  background: #F2F2F2;
}

.bottom {
  background: #333333;
}

.bottom .section__title,
.bottom__text {
  color: #FFFFFF;
}
