@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1400px;
  margin: 0;
  padding: 0;

  font-family: "SF Display", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #4F4F4F;
  text-transform: none;
  -webkit-font-kerning: none;
          font-kerning: none;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 0;
  width: 1400px;
}

.headingMS1 {
  font-family: "SF Display", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #040404;
}

.headingMS2 {
  font-family: "SF Display", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #040404;
}

.headingMS3 {
  font-family: "SF Display", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #040404;
}

/* header */



/* footer */

footer {
  color: #BDBDBD;
  
  background-color: #333333;
}


/* main */

.features {
  color: #828282;
  
  background: #333333;
}

.features__list {
  list-style: none;
}

.feature__title {
  color: #FFFFFF;
}
