@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1400px;
  margin: 0;
  padding: 0;

  font-family: "SF Display", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #4F4F4F;
  text-transform: none;
  -webkit-font-kerning: none;
          font-kerning: none;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 0;
  width: 1400px;
}


/* footer */

footer {
  color: #BDBDBD;
  
  background-color: #333333;
}
