@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1400px;
  margin: 0;
  padding: 0;

  font-family: "SF Display", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #4F4F4F;
  text-transform: none;
  -webkit-font-kerning: none;
          font-kerning: none;

  background-color: #ffffff;
}

img {
  object-fit: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 0;
  width: 1400px;
}

.title2 {
  margin: 0;
  
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: -0.007em;
  color: #040404;
}

.title3 {
  margin: 0;
  
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #040404;
}

.title4 {
  margin: 0;
  
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #040404;
}

.main-text {
  font-family: "SF Display", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #4F4F4F;
}

.cta-text {
  font-family: "SF Display", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #000000;
}

.extra-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

.feedback-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.menu-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.links-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #FF8D31;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-width: 130px;
  min-height: 38px;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.ms-logo {
  mix-blend-mode: multiply;
}


/* header */

.header .wrapper {
  display: flex;
  padding-top: 56px;
}

.header__logo {
  display: inline-block;
  padding-top: 8px;
  padding-left: 110px;
  width: 423px;
  height: 96px;
}

.site-nav__item--active a {
  font-weight: bold;
}

.site-nav__item:hover span {
  padding-bottom: 4px;
  border-bottom: 1px solid currentColor;
}

.header__nav {
  flex-grow: 1;
}

.site-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.site-nav__item {
  display: flex;
}

.site-nav a {
  padding: 10px 10px 10px 10px;
  margin: 7px 51px 7px 0px;
  
  color: inherit;
  text-decoration: none;
}


/* footer */

.footer {
  color: #BDBDBD;
  
  background-color: #484848;
}

.footer .wrapper {
  display: flex;
  flex-direction: column;
  
  padding: 35px 0;
}

.footer__box {
  display: flex;
  justify-content: flex-end;
  
  padding-top: 23px;
  padding-bottom: 5px;
}

.footer__logo {
  display: inline-block;
  
  margin-right: auto;
  padding-top: 53px;
  padding-bottom: 53px;
  padding-left: 112px;
  padding-right: 52px;
  width: 396px;
  height: 181px;
}

.footer__feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  min-width: 400px;
  padding: 8px;
  padding-bottom: 5px;
}

.footer__tel {
  margin: 0 30px;
  padding: 7px 0;
  
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.footer__address {
  margin: 10px 30px 0 30px;
  
  letter-spacing: -0.02em;
  color: inherit;
}

.footer__email {
  margin: 0 30px;
  padding-bottom: 4px;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: inherit;
  
  border-bottom: 1px solid currentColor;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  
  margin: 17px 4px 2px 4px;
  padding: 0;

  text-align: center;
  list-style: none;
}

.socials__item {
  display: flex;
  
  width: 55px;
  height: 55px;
  margin: 4px;

  text-decoration: none;

  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.socials__link--vk {
  background-image: url("../img/icon-vk.svg");
}

.socials__link--fb {
  background-image: url("../img/icon-fb2.svg");
}

.socials__link--insta {
  background-image: url("../img/icon-insta.svg");
  background-position: right 51% top 49%;
}

.socials__item:hover,
.socials__item:focus,
.socials__item:active {
  background-color: #333333;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  
  width: 500px;
  margin: 45px 104px 0 0;
  padding: 0 12px;
  
  list-style: none;
}

.footer-nav__item {
  display: flex;
  
  width: 210px;
  margin-right: 11px;
  margin-bottom: 7px;
  
  letter-spacing: -0.02em;
  text-transform: none;
  text-decoration: none;
  color: #BDBDBD;
}

.footer-nav__item a {
  display: inline-block;
  
  padding-top: 5px;
  padding-bottom: 6px;
  
  text-decoration: none;
}

.footer__copyrights {
  align-self: flex-end;
  
  max-width: 273px;
  margin: 0;
  margin-right: 98px;
  
  letter-spacing: -0.017em;
  line-height: 14px;
  color: #828282;
}


/* main */

.main .wrapper {
  padding-left: 110px;
}

.top-image {
  width: 967px;
  height: 628px;
  margin-left: auto;
  margin-bottom: 94px;
}

.title-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  min-width: 323px;
  max-width: 400px;
  padding-right: 10px;
}

.page__title {
  margin-top: 10px;
  margin-bottom: 24px;
}

.orange-numbers {
  font-size: 14px;
  line-height: 21px;
  color: #FF8D31;
}

.orange-numbers p {
  margin: 0;
}

.orange-numbers p:first-child {  
  font-size: 70px;
  line-height: 85px;
}

.about__company-area p:not(:first-child) {
  padding-left: 5px;
}

/* about */

.about .wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about__company {
  max-width: 435px;
  margin: 20px 0;
  padding-right: 10px;
}

.about__company-numbers {
  display: flex;
  justify-content: space-between;
  
  min-width: 845px;
  margin: 127px 0 57px 324px;
}

/* features */

.features {
  color: #828282;
  
  background: #333333;
}

.features__list {
  list-style: none;
}

.feature__title {
  color: #FFFFFF;
}

/* our-specialists */

.our-specialists {
  background: #F2F2F2;
}


/* bottom */

.bottom .wrapper{
  display: flex;
  
  padding: 120px 110px 102px 110px;
}

.bottom {
  color: #FFFFFF;
  
  background: #333333;
}

.bottom .section__title {
  margin: 0;
  
  color: inherit;
}

.bottom__text {
  max-width: 520px;
  margin: 0;
  padding-right: 10px;
  
  color: inherit;
}

.button--bottom {
  align-self: flex-start;
  
  margin-left: auto;
  margin-right: 137px;
  border: 0.5px solid #FFFFFF;
  
  color: inherit;
}

.button--bottom:hover {
  background-color: #2e2e2e;
  
}
