@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1400px;
  margin: 0;
  padding: 0;

  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  -webkit-font-kerning: none;
          font-kerning: none;

  background-color: #ffffff;

  cursor: default;
}

img {
  object-fit: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

.noa {
  cursor: not-allowed;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 0;
  width: 1400px;
}

.title2 {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: -0.007em;
  color: #040404;
}

.title3 {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #040404;
}

.title4 {
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #040404;
}

.main-text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #4F4F4F;
}

.cta-text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #000000;
}

.extra-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

.feedback-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.menu-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.links-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #FF8D31;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 130px;
  min-height: 38px;
  border: 0.5px solid #000000;
  box-sizing: border-box;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;

  transition: all 0.55s ease-out;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #000000;
}

.button:active {
  background-color: #444444;
}

.ms-logo {
  mix-blend-mode: multiply;
}


/* header */

.header .wrapper {
  display: flex;
  padding-top: 56px;
}

.header__logo {
  display: inline-block;
  padding-top: 8px;
  padding-left: 110px;
  width: 423px;
  height: 96px;
}

.site-nav__item--active > a {
  font-weight: bold;
}

.site-nav__item a:hover span,
.site-nav__item a:focus span {
  padding-bottom: 4px;
  border-bottom: 1px solid currentColor;

  transition: all 0.21s ease-out;
}

.header__nav {
  flex-grow: 1;
}

.site-nav__list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-nav__item {
  display: flex;

  position: relative;
}

.site-nav__item > a {
  padding: 10px 10px 10px 10px;
  margin: 7px 51px 7px 0px;

  color: inherit;
  text-decoration: none;
}

.site-nav__sub {
  position: absolute;
  top: 37px;
  left: 10px;

  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: transform 0.26s ease-in 0.01s;
}

.site-nav__sub-list {
  position: relative;

  display: flex;

  flex-direction: column;
  min-width: 220px;
  padding: 5px 10px;
  margin: 0;

  list-style: none;

  overflow: hidden;
  background-color: rgba(242, 242, 242, 0.8);
}

.site-nav__sub-list::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.3),transparent);
  transition-duration: 0.7s;
  transition-delay: 0.2s;
}

.site-nav__item:hover .site-nav__sub-list:after {
  top: 100%;
}

.site-nav__item:hover .site-nav__sub,
.site-nav__item:focus-within .site-nav__sub {
  transform: scaleY(1);
  opacity: 1;
  z-index: 2;
}

.site-nav__sub-item > a {
  display: flex;
  margin: 6px 0;
  padding: 3px 0;

  font-size: 10px;
  text-decoration: none;
}

.site-nav__sub-item--current > a {
  font-weight: bold;
  letter-spacing: -0.04em;
}

.site-nav__sub-item > a:hover,
.site-nav__sub-item > a:focus {
  font-weight: bold;
  color: #FF8D31;
}


/* footer */

.footer {
  color: #BDBDBD;

  background-color: #484848;
}

.footer .wrapper {
  display: flex;
  flex-direction: column;

  padding: 35px 0;
}

.footer__box {
  display: flex;
  justify-content: flex-end;

  padding-top: 23px;
  padding-bottom: 5px;
}

.footer__logo {
  display: inline-block;

  margin-right: auto;
  padding-top: 53px;
  padding-bottom: 53px;
  padding-left: 112px;
  padding-right: 52px;
  width: 396px;
  height: 181px;
}

.footer__feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-width: 400px;
  padding: 8px;
  padding-bottom: 5px;
}

.footer__tel {
  margin: 0 30px;
  padding: 7px 0;

  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.footer__address {
  margin: 10px 30px 0 30px;

  letter-spacing: -0.02em;
  color: inherit;
}

.footer__email {
  margin: 0 30px;
  padding-bottom: 4px;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: inherit;

  border-bottom: 1px solid currentColor;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;

  margin: 17px 4px 2px 4px;
  padding: 0;

  text-align: center;
  list-style: none;
}

.socials__item {
  display: flex;

  width: 55px;
  height: 55px;
  margin: 4px;

  text-decoration: none;

  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  transition: all 0.42s ease;
}

.socials__link--vk {
  background-image: url("../img/icon-vk.svg");
}

.socials__link--fb {
  background-image: url("../img/icon-fb2.svg");
}

.socials__link--insta {
  background-image: url("../img/icon-insta.svg");
  background-position: right 51% top 49%;
}

.socials__item:hover,
.socials__item:focus,
.socials__item:active {
  background-color: #333333;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  width: 500px;
  margin: 45px 104px 0 0;
  padding: 0 12px;

  list-style: none;
}

.footer-nav__item {
  display: flex;

  width: 210px;
  margin-right: 11px;
  margin-bottom: 7px;

  letter-spacing: -0.02em;
  text-transform: none;
  text-decoration: none;
  color: #BDBDBD;
}

.footer-nav__item a {
  display: inline-block;

  padding: 5px 0;
  border-bottom: 1px solid transparent;

  text-decoration: none;

  transition: all 0.55s ease;
}

.footer-nav__item a:hover,
.footer-nav__item a:focus {
  border-bottom: 1px solid currentColor;
}

.footer__copyrights {
  align-self: flex-end;

  max-width: 273px;
  margin: 0;
  margin-right: 98px;

  letter-spacing: -0.017em;
  line-height: 14px;
  color: #828282;
}


/* main */

.main .wrapper {
  padding-left: 110px;
}

.top-image {
  width: 967px;
  height: 628px;
  margin-left: auto;
  margin-bottom: 94px;
}

.title-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-width: 323px;
  max-width: 450px;
  padding-right: 10px;
}

.page__title {
  margin-top: 10px;
  margin-bottom: 24px;
}

.orange-numbers {
  font-size: 14px;
  line-height: 21px;
  color: #FF8D31;
}

.orange-numbers p {
  margin: 0;
}

.orange-numbers p:first-child {
  font-size: 70px;
  line-height: 85px;
}

.section__link {
  padding: 5px 50px 5px 0;

  background-repeat: no-repeat;
  background-size: 30px 8px;
  background-position: center right 8px;
  background-image: url("../img/arrow-2-orange.svg");
}

.section__link:hover,
.section__link:focus {
  background-size: 34px 12px;
  background-position: center right;
}

/* about & features */

.about .wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about__company {
  max-width: 435px;
  margin: 20px 0;
  padding-right: 10px;
}

.about__company-numbers {
  display: flex;

  margin: 127px 0 57px 322px;
}

.about__company-numbers .orange-numbers {
  padding-right: 5px;
}

.about__company-numbers .orange-numbers:nth-child(3n+1),
.features__item:nth-child(3n+1) {
  width: 310px;
}

.about__company-numbers .orange-numbers:nth-child(3n+2),
.features__item:nth-child(3n+2) {
  width: 285px;
}

.about__company-numbers .orange-numbers:nth-child(3n+3),
.features__item:nth-child(3n+3) {
  width: 290px;
}

.features {
  color: #828282;

  background: #333333;
}

.features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 0 0 322px;
  padding: 112px 0 57px 0;

  list-style: none;
}

.features__item {
  margin-bottom: 81px;
  padding-right: 5px;
}

.feature__title {
  color: #FFFFFF;
}

.feature__description {
  color: #828282;
}

/* projects */

.projects .wrapper {
  display: flex;
  flex-wrap: wrap;

  padding-top: 102px;
  padding-bottom: 77px;
}

.projects__navigation {
  display: flex;
  flex-wrap: wrap;

  width: 350px;
  margin: 4px 0;
  padding: 0;

  list-style: none;
}

.proj-nav__item a {
  margin-right: 4px;
  padding: 3.5px 0;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #bdbdbd;
}

.proj-nav__item--current a {
  border-bottom: 0.5px solid #000000;
  color: #000000;
}

.proj-nav__item a:hover,
.proj-nav__item a:focus {
  border-bottom: 0.5px solid;
}

.proj-nav__item::after {
  content: "/";
  padding: 0 4px;
  color: #bdbdbd;
}

.proj-nav__item:last-child::after {
  content: "";
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 123px 0 75px 0;
  padding: 0;

  list-style: none;
}

.projects__item {
  margin-bottom: 150px;
}

.projects__item:last-child {
  margin-bottom: 10px;
}

.projects__item:nth-child(odd) {
  margin-left: 323px;
}

.project__photo {
  margin-bottom: 22px;
}

.project-title {
  margin: 14px 0;
}

.project-description {
  margin: 0;
}

/* our-specialists */

.our-specialists {
  padding-top: 108px;
  padding-bottom: 71px;

  background: #F2F2F2;
}

.our-specialists__slider {
  margin: 146px 72px 37px 0;
}

.our-specialists__slider .employee__list {
  justify-content: flex-end;
}

/* company-theses */

.company-theses .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.theses__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  min-width: 900px;
  max-height: 750px;
  margin: 0;
  padding: 42px 0;

  overflow: auto;
  list-style: none;
}

.theses__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 300px;
  margin: 25px 147px 25px 0;
}

.theses__item:first-child {
  margin-top: 147px;
}

.theses__text {
  margin: 21px 0;
}

.company-theses__video {
  position: relative;

  margin: 29px auto 39px 323px;
}

.company-theses__video-button {
  position: absolute;
  top: 37px;
  left: 38px;

  width: 41px;
  height: 41px;
}

.video-button__base {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.video-button__image {
  position: absolute;
  margin-top: 42%;
  margin-left: 42%;
}

.video-button__image polygon {
  fill: black;
}

.company-theses__video:hover .company-theses__video-button,
.company-theses__video:focus .company-theses__video-button {
  top: 38px;
  left: 39px;
  width: 38px;
  height: 38px;
}

.company-theses__video:hover .video-button__base,
.company-theses__video:focus .video-button__base {
  background-color: rgba(255, 255, 255, 1);
}

.company-theses__video:hover .video-button__image,
.company-theses__video:focus .video-button__image {
  width: 40%;
  height: 40%;
  margin-top: 32%;
  margin-left: 33%;
}

.company-theses__video:hover .video-button__image polygon,
.company-theses__video:focus .video-button__image polygon {
  fill: Crimson;
}

.company-theses__company-numbers {
    display: flex;
    margin: 127px 0 57px 322px;
}

.company-theses .orange-numbers:nth-child(3n+1) {
  width: 264px;
}

.company-theses .orange-numbers:nth-child(3n+2) {
  width: 195px;
}

.company-theses .orange-numbers:nth-child(3n+3) {
  width: 282px;
}

/* clients */

.clients .wrapper {
  margin-top: 114px;
  margin-bottom: 103px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 824px;
  margin: 70px auto 10px 305px;
  padding: 0;

  list-style: none;
}

.clients__item {
  margin-right: 70px;
  margin-bottom: 47px;

  border-radius: 2%;

  -webkit-filter: grayscale(1);
          filter: gray;
          filter: grayscale(1);
}

.clients__item:hover,
.clients__item:focus {
  background-color: #fafafa;

  -webkit-filter: grayscale(0.2);
          filter: gray(0);
          filter: grayscale(0.2);
}

.clients__item a {
  display: block;
  width: 150px;
  height: 70px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.clients__item--sok a {
  background-image: url("../img/logo_sok.svg");
  background-size: 77px 32px;
}

.clients__item--stroitransgaz a {
  background-image: url("../img/logo_stroitransgaz.png");
  background-size: 110px 39px;
}

.clients__item--ikea a {
  background-image: url("../img/logo_ikea.svg");
  background-size: 77px 32px;
}

.clients__item--accenture a {
  background-image: url("../img/logo_accenture.svg");
  background-size: 103px 27px;
}

.clients__item--alium a {
  background-image: url("../img/logo_alium.png");
  background-size: 109px 32px;
}

.clients__item--mtsbank a {
  background-image: url("../img/logo_mts-bank.png");
  background-size: 76px 29px;
}

.clients__item--nornickel a {
  background-image: url("../img/logo_nornickel.svg");
  background-size: 59px 34px;
}

.clients__item--otkrytie a {
  background-image: url("../img/logo_otkrytie.svg");
  background-size: 111px 26px;
}

.clients__item--sberbank a {
  background-image: url("../img/logo_sberbank2009.svg");
  background-size: 127px 25px;
}

.clients__item--gazprommedia a {
  background-image: url("../img/logo_gazprommedia.png");
  background-size: 61px 34px;
}

.clients__item--huawei a {
  background-image: url("../img/logo_huawei.svg");
  background-size: 37px 37px;
}

.clients__item--simple a {
  background-image: url("../img/logo_simple.png");
  background-size: 87px 33px;
}

.clients__item--jll a {
  background-image: url("../img/logo_jll.svg");
  background-size: 78px 35px;
}

.clients__item--oknastolicy a {
  background-image: url("../img/logo_oknastolicy.png");
  background-size: 94px 33px;
}

.clients__item--rostelecom a {
  background-image: url("../img/logo_rostelecom.svg");
  background-size: 107px 39px;
}

/* proud-of-work */

.proud-of-work {
  padding-top: 118px;
  padding-bottom: 71px;
  background: #F2F2F2;
}

.proud-of-work .wrapper {
  padding: 0;
}

.proud-of-work .title-container {
  padding-left: 110px;
}

.proud-of-work__slider {
  margin: 106px 0 100px 0;
}

/* our-services */

.our-services__list {
  display: flex;
  flex-direction: column;

  margin: 21px auto 117px 323px;
  padding: 0;

  list-style: none;
}

.our-services__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;

  width: 857px;
  height: 280px;
  margin: 81.5px 0;
}

.our-services__item-description {
  width: 320px;
  margin-left: 57px;
  margin-right: 0;
}

.our-services__item:nth-child(even) {
  flex-direction: row;
  justify-content: flex-start;
}

.our-services__item:nth-child(even) .our-services__item-description {
  margin-left: 0;
  margin-right: 51px;
}

.our-services__item-link {
  display: block;
  width: 31px;
  height: 31px;
  margin-top: 19px;

  border-radius: 50%;
  background-color: #FF8D31;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/arrow-3-white.svg");

  box-sizing: border-box;
}
.our-services__item-link:hover,
.our-services__item-link:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);;
}

.our-services__item:nth-child(2n) .our-services__item-link {
  background-color: #92B9E1;
}

.our-services__item:nth-child(3n) .our-services__item-link {
  background-color: #21758F;
}

.our-services__item:nth-child(4n) .our-services__item-link {
  background-color: #90C32A;
}

.our-services__item:nth-child(5n) .our-services__item-link {
  background-color: #CE80D6;
}

/* our-other-services */

.our-other-services {
  padding: 95px 0 10px 0;

  background: #F2F2F2;
}

.our-other-services__slider {
  padding: 75.5px 19px;
}

.our-other-services__slider .tabs-slider__details {
  max-width: 500px;
  margin: 5px 5px 5px 213px;
}

/* writeus */

.writeus__slider {
  padding: 24px 0 158px 309px;
}

.writeus__slider-leftbox {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: 415px;
}

.writeus__contacts-in-slider {
  margin-top: 118px;
  padding: 12px 14px;
}

.writeus__contact {
  display: flex;
  flex-direction: column;

  margin-top: 47px;
}

.writeus__contact-type {
  margin: 10px 0;

  text-transform: uppercase;
  color: #FF8D31;
}

.writeus__contact-text {
  align-self: flex-start;

  margin: 10px 0;

  text-decoration: none;
  color: #000000;
}

.writeus__contact-link {
  align-self: flex-start;

  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #828282;

  padding: 3px 1px 0 1px;
  border-bottom: 1px solid currentColor;
}

.writeus-form {
  width: 470px;
}


.writeus-form {
  display: flex;
  flex-direction: column;

  padding: 12px 14px;
}

.writeus-form select,
.writeus-form input[type="text"],
.writeus-form input[type="tel"],
.writeus-form input[type="email"],
.writeus-form textarea {
  margin: 12.5px 0;
  border: 0;

  background-color: #F2F2F2;
}

.writeus-form input[type="text"],
.writeus-form input[type="tel"],
.writeus-form input[type="email"] {
  height: 53px;
  padding: 12px;
}

.writeus-form textarea {
  width: 100%;
  height: 170px;
  padding: 18px 12px;

  resize: vertical;
}

.writeus-form select {
  height: 33px;
  padding: 0 8px;
}

.writeus-form textarea::-webkit-input-placeholder,
.writeus-form input::-webkit-input-placeholder {
  color: #BDBDBD;
}
.writeus-form textarea::-moz-placeholder,
.writeus-form input::-moz-placeholder {
  color: #BDBDBD;
}
.writeus-form textarea:-ms-input-placeholder,
.writeus-form input:-ms-input-placeholder {
  color: #BDBDBD;
}
.writeus-form textarea::-ms-input-placeholder,
.writeus-form input::-ms-input-placeholder {
  color: #BDBDBD;
}
.writeus-form textarea::placeholder ,
.writeus-form input::placeholder {
  color: #BDBDBD;
}

.writeus-form__check-n-submit {
  margin-top: 36px;

  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.writeus-form__fileupload {
  margin-top: 16px;
  margin-bottom: 10px;

  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.writeus-form__privacy-label {
  position: relative;
  padding: 5px 0 5px 24px;

  user-select: none;
}

.writeus-form__check-n-submit a {
  padding: 3px 0;
  border-bottom: 0.5px solid currentColor;

  text-decoration: none;
}

.writeus-form__privacy-checkbox + .writeus-form__privacy-label::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0;

  width: 20px;
  height: 20px;
  border: 0.5px solid #000000;
  box-sizing: border-box;

  background-image: url("../img/checkedbox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2100%;

  transition: all 0.17s ease-out;
}

.writeus-form__privacy-checkbox:checked + .writeus-form__privacy-label::before {
  background-size: 100%;
}

.writeus-form .button {
  align-self: flex-start;

  height: 56px;
  width: 165px;
  padding: 8px 5px 5px 4px;
  margin-top: 30px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* our-team */

.our-team .wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.our-team__catalog {
  margin-top: 146px;
  margin-bottom: 9px;
}

.our-team__thesis {
  max-width: 465px;
  margin: 20px 0;
  padding-right: 10px;
}

.our-team__catalog .employee a {
  margin: 120px 145px 98px 57px;
}

.our-team__catalog .employee:nth-child(6n-5),
.our-team__catalog .employee:nth-child(6n-4),
.our-team__catalog .employee:nth-child(6n-3) {
  background-color: #f9f9f9;
}

.our-team__catalog .employee:nth-child(6n-3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: -1;

  width: 100vw;
  height: 100%;

  background-color: #f9f9f9;
}
.our-team__catalog .employee:nth-child(6n-3)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100vw;
  z-index: -1;

  width: 100vw;
  height: 100%;

  background-color: #f9f9f9;
}

.employee__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.employee {
  position: relative;
}

.employee a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 221px;

  text-decoration: none;
}

.employee__photo {
  order: -1;

  margin-bottom: 17px;

  -webkit-filter: grayscale(1);
          filter: gray;
          filter: grayscale(1);

  transition: all 0.42s ease-out;
}

.employee__name {
  margin: 16px 0;

  color: #000000;
}

.employee__position {
  margin: 4px 0;

  color: #828282;
}

.employee__link {
  margin-top: 0;
  margin-bottom: 18px;
  padding: 6px 0 0 0;

  font-size: 12px;
  line-height: 14px;

  border-bottom: 1px solid transparent;
}

.employee:hover .employee__photo,
.employee:focus .employee__photo {
  -webkit-filter: grayscale(0);
          filter: gray(0);
          filter: grayscale(0);
}

.employee:hover .employee__link,
.employee:focus .employee__link {
  margin-bottom: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid currentColor;
  transition: all 0.42s ease-out;
}

/* employee-info */

.employee-info-card {
  display: flex;
  flex-direction: row;

  margin-left: 326px;
  padding-top: 93px;
  padding-bottom: 108px;
}

.employee-info-card__portrait {
  margin-top: 4px;
}

.employee-info-card__text {
  order: 1;

  max-width: 440px;
  margin-left: 66px;
}

.employee-info-card__position {
  margin-top: 20px;
  margin-bottom: 16px;
}

.employee-info-card__bio {
  margin: 58px 0;
}

/* employee-projects */

.employee-projects {
  padding: 10px 0 102px 0;
}

.employee-projects__slider {
  margin-top: 28px;
  margin-bottom: 35px;
  margin-right: 50px;
}

/* customers-reviews */

.customers-reviews {
  padding-top: 105px;
  padding-bottom: 169px;

  background: #F2F2F2;
}

.customers-reviews .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.customers-reviews__list {
  max-width: 400px;
  padding: 0;
  margin: 0 0 0 272px;

  list-style: none;
}

.customers-reviews__text {
  margin: 0 0 50px 0;

  letter-spacing: -0.017em;
}

.customers-reviews__client{
  margin: 33px 0;

  color: #000000;
  font-weight: bold;
}

.customers-reviews__attachment {
  padding: 6px 0;
}

.customers-reviews__attachment:hover,
.customers-reviews__attachment:focus {
  border-bottom: 1px solid currentColor;
}

/* return */

.return .wrapper {
  padding: 75px 110px 80px 110px;
}

.return__link {
  display: inline-block;
  margin: 27px 10px 20px 323px;
  padding: 5px 50px 5px 0;

  background-repeat: no-repeat;
  background-size: 30px 8px;
  background-position: center right 8px;
  background-image: url("../img/arrow-2-orange.svg");
}

.return__link:hover,
.return__link:focus {
  background-size: 34px 12px;
  background-position: center right;
}

/* bottom */

.bottom {
  color: #FFFFFF;

  background: #333333;
}

.advice .wrapper{
  display: flex;

  padding: 120px 110px 102px 110px;
}

.bottom .section__title {
  margin: 0;

  color: inherit;
}

.advice__text {
  max-width: 520px;
  margin: 0;
  padding-right: 10px;

  color: inherit;
}

.button--bottom {
  align-self: flex-start;

  margin-left: auto;
  margin-right: 137px;
  border: 0.5px solid #FFFFFF;

  color: inherit;
}

.button--bottom:hover,
.button--bottom:focus {
  color: #000000;
  background-color: #ffffff;
}

.button--bottom:active {
  background-color: #cccccc;
}

.something4you .wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 75px 110px 79px 110px;
}

.something4you .title-container {
  padding-bottom: 15px;
}

.something4you__invitation {
  max-width: 520px;
  margin-left: 270px;
  padding-right: 10px;
}

.something4you__text {
  margin: 0 0 27px 0;

  color: inherit;
}

.something4you__link {
  padding-top: 10px;
  padding-bottom: 10px;
}


/* popups */

.popup--callback {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;
}

@keyframes popup-appearance-from-left {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes popup-appearance-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup-show {
  animation: popup-appearance-from-left 0.75s;
}

.popup__underlay {
  z-index: -10;

  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(220, 220, 220, 0.7);
}

.popup__content {
  margin: auto;
  margin-top: 10px;
}

.popup--callback .popup__content {
  max-width: 827px;
  min-height: 924px;

  background-color: white;
  background-repeat: no-repeat;
  background-position: left top 183px;
  background-image: url("../img/callback-background.jpg");
}

.popup-head {
  position: relative;

  padding: 41px 43px 16px 43px;
}

.popup-close {
  position: absolute;
  top: 37px;
  right: 48px;
  z-index: 50;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.popup-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 1px;
  height: 1.3px;
  width: 36px;
  background-color: #000000;
}

.popup--callback .callback-form {
  width: 405px;
  margin-left: 376px;
  margin-right: 46px;
}

.popup--callback .callback-form select,
.popup--callback .callback-form input,
.popup--callback .callback-form textarea {
  margin: 16px 0;
}

.popup--callback .callback-form textarea {
  height: 275px;
}

.popup--callback .writeus-form__check-n-submit {
  margin-top: 24px;
}

.popup--callback .writeus-form__check-n-submit input[type="submit"] {
  margin-top: 30px;
}

.popup--map {
  position: fixed;
  top: 15%;
  left: 50%;
  z-index: 90;

  min-width: 915px;
  min-height: 506px;
  margin-left: -457px;
}

.popup--map a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.popup--map .popup-close {
  top: 25px;
  right: 10px;
}
.popup-close::before,
.popup-close::after {
  height: 2px;
  width: 36px;
  background-color: #222222;
}

.popup__iframe-map {
  position: relative;
  z-index: 2;

  width: 915px;
  height: 506px;

  border: none;
  box-shadow: 1px 1px 2px 1px rgba(100, 100, 100, 0.75);
}

/* .popup__iframe-map--show {
  animation: popup-appearance-fade 0.95s;
} */

/* sliders */

.photo-slider {
  position: relative;
}

.photo-slider__list {
  list-style: none;
  padding: 0;
}

.photo-slider__button {
  position: absolute;
  top: 0;

  width: 70px;
  height: 51px;

  border: 0;
  background-origin: content-box;
  background-color: rgba(242, 242, 242, 0.9);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.05;
  cursor: pointer;
}

.photo-slider__button--next {
  right: 0;

  padding: 0 15px 0 18px;
  background-image: url("../img/arrow-2.svg");
}

.photo-slider__button--previous {
  right: 70px;

  padding: 0 14px 1px 19px;
  background-image: url("../img/arrow-2.svg");

  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.photo-slider:hover .photo-slider__button,
.photo-slider:focus .photo-slider__button {
  opacity: 1;
  cursor: not-allowed;
}

.works-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  padding: 20px 0;
}

.works-slider__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0 0 82px 0;
  padding: 20px 0;

  list-style: none;
}

.works-slider__item {
  display: flex;
  flex-direction: column;
}

.works-slider__slide-image {
  order: -1;
}

.works-slider__slide-title {
  margin-top: 25px;
  margin-bottom: 18px;
}

.works-slider__slide-text {
  margin: 0;
}

.works-slider__marker {
  position: relative;

  width: 334px;
  height: 2px;

  border-bottom: 1px solid #000000;
}

.works-slider__pointer {
  position: absolute;
  bottom: 0;

  width: 16.17%;
  height: 2px;

  background-color: #000000;
}

.tabs-slider {
  display: flex;
  flex-direction: row;
}

.tabs-slider__list {
  flex-shrink: 0;

  max-width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tabs-slider__item {
  margin: 9px 0;
}

.tabs-slider__button {
  width: 100%;
  margin-left: 0px;
  margin-right: 14px;
  padding: 22px 12px;

  border: 0;
  border-left: 2px solid transparent;
  background-color: transparent;

  text-align: left;
  color: #828282;

  transition: all 0.33s ease-out;

  cursor: pointer;
}

.tabs-slider__item:hover .tabs-slider__button,
.tabs-slider__item:focus .tabs-slider__button {
  margin-left: 14px;
  margin-right: 0px;
  padding-left: 17px;
  padding-right: 7px;

  color: #555555;
}

.tabs-slider__button--active {
  margin-left: 14px;
  margin-right: 0px;
  padding-left: 17px;
  padding-right: 7px;
  border-left: 2px solid #FF8D31;

  color: #000000;

  cursor: default;
}

.tabs-slider__details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs-slider__details {
  flex-direction: column;

  transform: translate(-30px, 0);
  opacity: 0;

  transition: transform 1s ease, opacity 0.9s ease;
}

.tabs-slider__details--active {
  display: flex;
  transform: translate(0, 0);
  opacity: 1;
}

.tabs-slider__link {
  margin: 11px auto 11px 0;
}

.employees-slider .employee a {
  margin-left: 116px;
}

/* main slider */

.slider {
  position: relative;
}

.slider img {
  poiner-events: none;
}

.slider__wrapper {
  width: 967px;
  height: 628px;
  overflow: hidden;
}

.slider__wrapper.grab {
  cursor: grab;
}

.slider__wrapper.grabbing {
  cursor: grabbing;
}

.slider__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  user-select: none;
  touch-action: pan-y;
}

.slider__item {
  flex-shrink: 0;
}

.slider__item a {
  display: flex;
}

.slider__item img {
  pointer-events: none;
}

.slider__button-list {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
}

.slider__button--disabled {
  opacity: .1;
  pointer-events: none;
}

.slider__markers-list {
  position: absolute;
  display: flex;
  bottom: 30px;
  right: 37px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__markers-item {
  margin: 0 6px 0 0;
}

.slider__marker {
  position: relative;
  display: flex;
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.slider__markers-item--current .slider__marker:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  background-color: #FF8D31;
}

/* appearance animation */

.animated-appearance {
  transition: transform 1.1s ease, opacity 1.3s ease;
}

.animated-appearance--hidden {
  transform: translate(0, 60px);
  opacity: 0;
}

.animated-appearance--shown {
  transform: translate(0, 0);
  opacity: 1;
}
