-
  const MAIN_NAV_PAGES = [
    { name: 'Архитектурное бюро', pageHref: 'index', subPages: [
      { name: 'О компании', pageHref: 'company' },
      { name: 'Команда', pageHref: 'team' },
      { name: 'Карточка сотрудника', pageHref: 'employee_mikhail-khoroshavtsev' },
    ]},
    { name: 'Услуги', pageHref: 'services' },
    { name: 'Портфолио' },
    { name: 'Экспертные статьи' },
    { name: 'Контакты', pageHref: 'contacts' }
  ];
  const FOOTER_NAV_PAGES = [
    { name: 'Архитектурное бюро', pageHref: 'company' },
    { name: 'Контакты', pageHref: 'contacts' },
    { name: 'Услуги', pageHref: 'services' },
    { name: 'Скачать презентацию', },
    { name: 'Портфолио', },
    { name: 'Экспертные статьи', },
    { name: 'Цены и акции', },
    { name: 'For foreigners', },
  ];
  const SOCIAL_LINKS = [
    { name: 'Facebook', cssClass: 'fb' },
    { name: 'Instagram', cssClass: 'insta' },
    { name: 'Вконтакте', cssClass: 'vk' },
  ];
