-
  const PAGES = {
    'index': { name: 'Главная', pageHref: 'index.pug' },
    'company': { name: 'Архитектурное бюро', pageHref: 'company.pug' },
    'team': { name: 'Команда', pageHref: 'team.pug' },
    'employee': { name: 'Карточка сотрудника', pageHref: 'employee_mikhail-khoroshavtsev.pug' },
    'services': { name: 'Услуги', pageHref: 'services.pug' },
    'contacts': { name: 'Контакты', pageHref: 'contacts.pug' },
    'portfolio': { name: 'Портфолио' },
    'articles': { name: 'Экспертные статьи' },
    'presentation': { name: 'Скачать презентацию' },
    'prices': { name: 'Цены и акции' },
    'foreigners': { name: 'For foreigners' },
  };
  const SOCIAL_LINKS = [
    { name: 'Facebook', cssClass: 'fb' },
    { name: 'Instagram', cssClass: 'insta' },
    { name: 'Вконтакте', cssClass: 'vk' },
  ];
