.main__slider.slider
  .slider__wrapper
    ul.slider__list
      li.slider__item
        img(src="./slider/index-slider-1.jpg", width="967", height="628", alt="Проект транспортного узла и досугового центра на архитектурном конкурсе eVOLO New-York 2013.")
  ul.slider__button-list
    button.slider__button.slider__button-prev(type="button", name="slider__button-prev", hidden="") Предыдущее фото
    button.slider__button.slider__button-next(type="button", name="slider__button-next", hidden="") Следующее фото
  ul.slider__markers-list
    li.slider__markers-item.slider__markers-item--current
      button.slider__marker.slider__marker(type="button", name="Slide-1")
        span.visuallyhidden Слайд номер 1
