-
  let mainNavPages = [ PAGES.company, PAGES.services, PAGES.portfolio, PAGES.articles, PAGES.contacts ];
  PAGES.company.navSubPages = [ PAGES.team, PAGES.employee ];

mixin siteNavSubItem({ name, pageHref })
  li(class= pageHref !== currentPage ? 'site-nav__sub-item' : 'site-nav__sub-item site-nav__sub-item--current')
    a.menu-text.site-nav__sub-link(href= pageHref === currentPage ? false : pageHref)= name


mixin siteNavItem({ name, pageHref, navSubPages })
  li(class= pageHref !== currentPage ? 'site-nav__item' : 'site-nav__item site-nav__item--active')
    if pageHref
      a.menu-text(href= pageHref === currentPage ? false : pageHref)
        span= name
    else
      a.menu-text(href="##", onclick="return false")
        span= name
    if navSubPages
      .site-nav__sub
        ul.site-nav__sub-list
          each subItem in navSubPages
            +siteNavSubItem(subItem)


header.header
  .wrapper
    //- logoHref генерируется в page-layout.pug
    a.header__logo(href=logoHref)
      img.ms-logo(src="./img/ms-architects_logo.png", width="249", height="81", alt="логотип MS Architects.")
    nav.header__nav.site-nav
      ul.site-nav__list
        each item in mainNavPages
          +siteNavItem(item)
