-
  const MAIN_NAV_PAGES = [
    { name: 'Архитектурное бюро', href: 'index', subPages: [
      { name: 'О компании', href: 'company' },
      { name: 'Команда', href: 'team' },
      { name: 'Карточка сотрудника', href: 'employee_mikhail-khoroshavtsev' },
    ]},
    { name: 'Услуги', href: 'services' },
    { name: 'Портфолио' },
    { name: 'Экспертные статьи' },
    { name: 'Контакты', href: 'contacts' }
  ];
  const FOOTER_NAV_PAGES = [
    { name: 'Архитектурное бюро', href: 'company' },
    { name: 'Контакты', href: 'contacts' },
    { name: 'Услуги', href: 'services' },
    { name: 'Скачать презентацию', },
    { name: 'Портфолио', },
    { name: 'Экспертные статьи', },
    { name: 'Цены и акции', },
    { name: 'For foreigners', },
  ];
  const SOCIAL_LINKS = [
    { name: 'Facebook', cssClass: 'fb' },
    { name: 'Instagram', cssClass: 'insta' },
    { name: 'Вконтакте', cssClass: 'vk' },
  ];

block variables

doctype html
html(lang="ru")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description", content="Тренировочный проект: вёрстка корпоративного сайта по дизайну http://lisinica-port.tilda.ws")
      title #{pageTitle}
      link(rel="stylesheet", href="./css/normalize.css")
      link(rel="stylesheet", href="./css/style.css")
      link(rel="shortcut icon", href="./img/favicon.png", type="image/png")

  body
    include page-header.pug

    block main

    include page-footer.pug

    block scripts
      script(type="module", src="./js/script.js")
