include global-constants.pug
include global-mixins.pug

block variables
  - let logoHref = currentPage === 'index' ? false : './index.pug';

doctype html
html(lang="ru")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description", content="Тренировочный проект: вёрстка корпоративного сайта по дизайну http://lisinica-port.tilda.ws")
      title #{pageTitle}
      link(rel="stylesheet", href="./css/normalize.css")
      link(rel="stylesheet", href="./css/style.css")
      link(rel="shortcut icon", href="./img/favicon.png", type="image/png")

  body
    include page-header.pug

    block main

    include page-footer.pug

    block popups

    block scripts
      script(type="module", src="./js/script.js")
