section.popup.popup-map
  h2.popup-title.visuallyhidden Карта
  button.popup-close(type="button", name="map-popupClose")
    span.visuallyhidden Закрыть
  a.popup__link-map(href="https://yandex.ru/maps/-/CCQxeXwCtC", target="_blank")
    img(src="./img/map.png", width="915", height="506", alt="город Москва, улица Нижняя Красносельская, дом 35, строение 48.")
  iframe.popup__iframe-map(src="https://snazzymaps.com/embed/262233")
