-
  const CALLBACK_FORM = [
    {
      inputName: 'callback-form__name',
      inputType: 'text',
      placeholder: 'Имя:*',
      label: 'имя',
      isRequired: true,
    },
    {
      inputName: 'callback-form__email',
      inputType: 'email',
      placeholder: 'E-mail*',
      label: 'e-mail',
      isRequired: true,
    },
    {
      inputName: 'callback-form__phone',
      inputType: 'tel',
      placeholder: 'Телефон',
      label: 'телефон',
    },
    {
      inputName: 'callback-form__message',
      inputType: 'textarea',
      placeholder: 'Сообщение*',
      label: 'Сообщение',
      cols: 57,
      rows: 8,
      isRequired: true,
    },
  ]

section.popup.popup-callback
  .popup__underlay
  .popup__content
    .popup-head
      h2.popup-title
        |Напишите нам,
        br
        |и мы с удовольствием
        br
        |вам ответим
      button.popup-close(type="button", name="popupClose")
        span.visuallyhidden Закрыть
    form.writeus-form.callback-form(action="https://echo.htmlacademy.ru", method="post")
      each item in CALLBACK_FORM
        +formInput(item)
      .writeus-form__check-n-submit
        input.writeus-form__privacy-checkbox.visuallyhidden#callback-checkbox(type="checkbox", name="callbackForm_CallbackCheckbox", required="")
        label.writeus-form__privacy-label(for="callback-checkbox")= 'я согласен с '
          a.writeus-form__privacy-link(href="##", onclick="return false") политикой конфиденциальности
        input.button.noa(type="submit", name="callbackForm_Submit", value="Отправить")
