section.employee-info.animated-appearance
  .wrapper
    .employee-info-card
      .employee-info-card__text
        h2.employee-info-card__name.title3 Михаил <br>Хорошавцев
        p.employee-info-card__position.main-text Генеральный директор
        a.employee-info-card__contact.links-text(href="mailto:1@msarchitects.ru") 1@msarchitects.ru
        p.employee-info-card__bio.main-text
          | Руководитель архитектурного бюро MS Architects. Окончил художественную школу и Московский Государственный Строительный Университет по специальности инженер-архитектор. Имеет 15-летний опыт в проектировании зданий и более 10 лет управленческого опыта. Член НОПРИЗ. Внимательный, высокопрофессиональный специалист. Умеет слушать и слышать клиента. В свободное время пишет маслом.
      img.employee-info-card__portrait(src="./img/portrait_mikhail-khoroshavtsev.jpg", width="289", height="316", alt="портрет Михаила Хорошавцева.")
