-
  const FEATURES = [
    {
      title: 'Дизайн офисов <br>и интерьеров',
      description: 'Мы отлично разрабатываем <br>дизайн офисов и коворкингов, <br>эскизные, архитектурные и <br>рабочие проекты зданий,<br>проектирование общественных<br>пространств и интерьеров'
    }, {
      title: 'Проектирование жилых <br>и общественных зданий',
      description: 'Проектирование жилых домов: <br>от таунхаусов до многоквартирных<br>высоток. Разработка всех разделов <br>проектной документации на <br>общественные здания: от спортивных <br>объектов до бизнес центров.'
    }, {
      title: 'Проектирование <br>промышленных зданий',
      description: 'Наша компания рада предложить <br>строительным и девелоперским <br>компаниям услуги <br>по индивидуальному<br>проектированию промышленных <br>объектов.'
    }, {
      title: 'Проектирование <br>коттеджей',
      description: 'Разработка индивидуальных <br>проектов коттеджей из любых <br>материалов.'
    }, {
      title: 'Деревянное <br>домостроение',
      description: 'Проек тирование домов и сооружений <br>из дерева. Материал для<br>строительства: клееный брус, <br>профилированный брус, <br>оцилиндрованный брус, дерево ручной <br>рубки.'
    }, {
      title: 'Ландшафтная <br>архитектура',
      description: 'Ландшафтный дизайн и архитектура <br>для общественных территорий <br>и частных владений.'
    }, {
      title: 'Инженерные сети',
      description: 'Проектирование всех необходимых <br>сетей — ВК, ЭОМ, ОВ, СС, <br>кондиционирования, пожаротушения <br>и слаботочных сетей'
    }, {
      title: 'Архитектура <br>для девелоперов',
      description: 'Комплексное проектирование <br>от генплана до типовых интерьеров <br>квартир.'
    },
  ]

mixin featuresItem({ title, description })
  li.features__item.feature.animated-appearance
    h3.feature__title.title4!= title
    p.feature__description.extra-text!= description

section.features.animated-appearance
  .wrapper
    h2.visuallyhidden Наши особенности.
    ul.features__list
      each item in FEATURES
        +featuresItem(item)
