-
  const PROJECTS_SLIDER_DATA =[
    {
      altText: 'Интерьеры отделений Сбербанка России.',
      photoURL: 'photo-2.jpg',
    },{
      altText: 'Аэропорт Большое Савино город Пермь.',
      photoURL: 'airport-savino_1.jpg',
    },{
      altText: 'Жилой комплекс в Лангепасе.',
      photoURL: 'photo-1.jpg',
    },
  ];

mixin projectsSliderItems ({ photoURL, altText }, index)
  unless index > 2
    li.works-slider__item(class= index === 0 ? 'works-slider__item--prev' : index === 1 ? 'works-slider__item--central' : 'works-slider__item--next')
      a(href= hrefLink ? hrefLink : "##", onclick= hrefLink ? false : 'return false')
        +pictureJpgWebp(photoURL, width= index === 1 ? 460 : 423, height= index === 1 ? 315 : 244, altText)

section.proud-of-work.animated-appearance
  .wrapper
    .title-container.animated-appearance
      h2.section__title.title3 Мы гордимся <br>своей работой
    // слайдер работ
    .proud-of-work__slider.works-slider.animated-appearance
      ul.works-slider__list
        each item, index in PROJECTS_SLIDER_DATA
          +projectsSliderItems(item, index)
      .works-slider__marker
        .works-slider__pointer
