section.features.animated-appearance
  .wrapper
    h2.visuallyhidden Наши особенности.
    ul.features__list
      li.features__item.feature.animated-appearance
        h3.feature__title.title4
          | Дизайн офисов<br>и интерьеров
        p.feature__description.extra-text
          | Мы отлично разрабатываем<br>дизайн офисов и коворкингов,<br>эскизные, архитектурные и<br>рабочие проекты зданий,<br>проектирование общественных<br>пространств и интерьеров
      li.features__item.feature.animated-appearance
        h3.feature__title.title4
          | Проектирование жилых<br>и общественных зданий
        p.feature__description.extra-text
          | Проектирование жилых домов:<br>от таунхаусов до многоквартирных<br>высоток. Разработка всех разделов<br>проектной документации на<br>общественные здания: от спортивных<br>объектов до бизнес центров.
      li.features__item.feature.animated-appearance
        h3.feature__title.title4
          | Проектирование<br>промышленных зданий
        p.feature__description.extra-text
          | Наша компания рада предложить<br>строительным и девелоперским<br>компаниям услуги<br>по индивидуальному<br>проектированию промышленных<br>объектов.
      li.features__item.feature.animated-appearance
        h3.feature__title.title4
          | Проектирование<br>коттеджей
        p.feature__description.extra-text
          | Разработка индивидуальных<br>проектов коттеджей из любых<br>материалов.
      li.features__item.feature.animated-appearance
        h3.feature__title.title4
          | Деревянное<br>домостроение
        p.feature__description.extra-text
          | Проек тирование домов и сооружений<br>из дерева. Материал для<br>строительства: клееный брус,<br>профилированный брус,<br>оцилиндрованный брус, дерево ручной<br>рубки.
      li.features__item.feature.animated-appearance
        h3.feature__title.title4
          | Ландшафтная<br>архитектура
        p.feature__description.extra-text
          | Ландшафтный дизайн и архитектура<br>для общественных территорий<br>и частных владений.
      li.features__item.feature.animated-appearance
        h3.feature__title.title4 Инженерные сети
        p.feature__description.extra-text
          | Проектирование всех необходимых<br>сетей — ВК, ЭОМ, ОВ, СС,<br>кондиционирования, пожаротушения<br>и слаботочных сетей
      li.features__item.feature.animated-appearance
        h3.feature__title.title4
          | Архитектура<br>для девелоперов
        p.feature__description.extra-text
          | Комплексное проектирование<br>от генплана до типовых интерьеров<br>квартир.
