section.bottom.something4you
  .wrapper
    .title-container
      h2.section__title.title2 У нас есть кое-что для вас
    .something4you__invitation
      p.something4you__text.cta-text
        |Вам интересны дизайн, проектирование, инженеринг?
        br
        |Вы студент или уже состоявшийся профи?
      a.something4you__link.links-text.section__link(href="./team.pug") Присоединяйтесь к нам!
