section.bottom.offer
  .wrapper
    .title-container
      h2.section__title.title2 Предложение, <br>от которого вы не сможете отказаться
    .offer__invitation
      p.offer__text.cta-text
        | Хотите создать собственный уникальный дизайн?
        br
        | Интересует сотрудничество на самых выгодных условиях?
      a.offer__link.links-text.section__link(href= PAGES.contacts.pageHref) Напишите нам!
