section.customers-reviews.animated-appearance
  .wrapper
    .title-container
      h3.section__title.title3 Отзывы клиентов
    ul.customers-reviews__list
      li.customers-reviews__item
        p.customers-reviews__text.feedback-text
          | От лица руководства ООО «ГПМ КИТ» благодарим компанию «MS Architects» в лице генерального директора Михаила Хорошавцева, а также Марину Ляутер, Бирюкова Василия и всех дизайнеров, задействованных в реализации нашего проекта, за оперативность в решении вопросов при реализации проекта и оригинальные стилевые решения.
        p.customers-reviews__client.main-text Газпром_медиа
        a.customers-reviews__attachment.links-text(href="./files/gpmkit'.pdf", target="_blank") gpmkit.pdf
