extends pug-blocks/page-layout.pug

block prepend variables
  - const currentPage = 'company';
  - const pageTitle = 'О компании MS Architects';

block main
  main.main
    h1.visuallyhidden О компании MS Architects.
    +topImage('company-office.jpg', 'Интерьер офиса MS Architects.')
    include pug-blocks/section-company-theses.pug
    include pug-blocks/section-clients.pug
    include pug-blocks/section-proud-of-work.pug
    include pug-blocks/section-bottom-advice.pug

block popups
  include pug-blocks/popup-callback.pug
