extends pug-blocks/page-layout.pug

block prepend variables
  - const currentPage = 'contacts';
  - const pageTitle = 'Контакты MS Architects';

block main
  main.main
    h1.visuallyhidden Контакты MS Architects.
    +topImage('mc-ark.jpg', 'Фото в офисе компании MS Architects во время работы.')
    include pug-blocks/section-writeus.pug
    include pug-blocks/section-bottom-something4you.pug

block popups
  include pug-blocks/popup-callback.pug
  include pug-blocks/popup-map.pug
