extends pug-blocks/page-layout.pug

block prepend variables
  - const currentPage = 'employee_mikhail-khoroshavtsev';
  - const pageTitle = 'Карточка сотрудника MS Architects';

block main
  main.main
    h1.visuallyhidden Страница о сотруднике
    .wrapper
      .top-image
        img(src="./img/weare.jpg", width="967", height="628", alt="Коллективная фотография сотрудников.")
    include pug-blocks/section-employee-info.pug
    include pug-blocks/section-employee-projects.pug
    include pug-blocks/section-customers-reviews.pug
    include pug-blocks/section-bottom-return.pug
