extends pug-blocks/page-layout.pug

block prepend variables
  - const currentPage = 'index';
  - const pageTitle = 'MS Architects. Главная';

block main
  main.main
    h1.visuallyhidden Архитектурное бюро MS Architects. Главная страница.
    .wrapper
      .top-image
        include pug-blocks/page-slider-top.pug
    include pug-blocks/section-about.pug
    include pug-blocks/section-features.pug
    include pug-blocks/section-projects.pug
    include pug-blocks/section-our-specialists.pug
    include pug-blocks/section-bottom-advice.pug

block popups
  include pug-blocks/popup-callback.pug
