extends pug-blocks/page-layout.pug

block prepend variables
  - const currentPage = 'index';
  - const pageTitle = 'MS Architects. Главная';

block main
  main.main
    h1.visuallyhidden Архитектурное бюро MS Architects. Главная страница.
    .wrapper
      .top-image
        include pug-blocks/page-slider-top.pug
    include pug-blocks/section-about.pug
    section.features.animated-appearance
      .wrapper
        h2.visuallyhidden Наши особенности.
        ul.features__list
          li.features__item.feature.animated-appearance
            h3.feature__title.title4
              | Дизайн офисов
              br
              | и интерьеров
            p.feature__description.extra-text
              | Мы отлично разрабатываем
              br
              |                 дизайн офисов и коворкингов,
              br
              |                 эскизные, архитектурные и
              br
              |                 рабочие проекты зданий,
              br
              |                 проектирование общественных
              br
              |                 пространств и интерьеров
          li.features__item.feature.animated-appearance
            h3.feature__title.title4
              | Проектирование жилых
              br
              | и общественных зданий
            p.feature__description.extra-text
              | Проектирование жилых домов:
              br
              |                 от таунхаусов до многоквартирных
              br
              |                 высоток. Разработка всех разделов
              br
              |                 проектной документации на
              br
              |                 общественные здания: от спортивных
              br
              |                 объектов до бизнес центров.
          li.features__item.feature.animated-appearance
            h3.feature__title.title4
              | Проектирование
              br
              | промышленных зданий
            p.feature__description.extra-text
              | Наша компания рада предложить
              br
              |                 строительным и девелоперским
              br
              |                 компаниям услуги
              br
              |                 по индивидуальному
              br
              |                 проектированию промышленных
              br
              |                 объектов.
          li.features__item.feature.animated-appearance
            h3.feature__title.title4
              | Проектирование
              br
              | коттеджей
            p.feature__description.extra-text
              | Разработка индивидуальных
              br
              |                 проектов коттеджей из любых
              br
              |                 материалов.
          li.features__item.feature.animated-appearance
            h3.feature__title.title4
              | Деревянное
              br
              | домостроение
            p.feature__description.extra-text
              | Проек тирование домов и сооружений
              br
              |                 из дерева. Материал для
              br
              |                 строительства: клееный брус,
              br
              |                 профилированный брус,
              br
              |                 оцилиндрованный брус, дерево ручной
              br
              |                 рубки.
          li.features__item.feature.animated-appearance
            h3.feature__title.title4
              | Ландшафтная
              br
              | архитектура
            p.feature__description.extra-text
              | Ландшафтный дизайн и архитектура
              br
              |                 для общественных территорий
              br
              |                 и частных владений.
          li.features__item.feature.animated-appearance
            h3.feature__title.title4 Инженерные сети
            p.feature__description.extra-text
              | Проектирование всех необходимых
              br
              |                 сетей — ВК, ЭОМ, ОВ, СС,
              br
              |                 кондиционирования, пожаротушения
              br
              |                 и слаботочных сетей
          li.features__item.feature.animated-appearance
            h3.feature__title.title4
              | Архитектура
              br
              | для девелоперов
            p.feature__description.extra-text
              | Комплексное проектирование
              br
              |                 от генплана до типовых интерьеров
              br
              |                 квартир.
    section.projects
      .wrapper
        .title-container.animated-appearance
          h2.section__title.title3 Наши проекты
        ul.projects__navigation.proj-nav__list.animated-appearance
          li.proj-nav__item.proj-nav__item--current
            a.proj-nav__link Новые проекты
          li.proj-nav__item
            a.proj-nav__link(href="##", onclick="return false") Дизайн
          li.proj-nav__item
            a.proj-nav__link(href="##", onclick="return false") Проектирование
          li.proj-nav__item
            a.proj-nav__link(href="##", onclick="return false") Офисы
          li.proj-nav__item
            a.proj-nav__link(href="##", onclick="return false") Ландшафт
          li.proj-nav__item
            a.proj-nav__link(href="##", onclick="return false") Сети
        ul.projects__list
          li.projects__item.project.animated-appearance
            .project__photo.photo-slider
              ul.photo-slider__list
                li.photo-slider__item.photo-slide
                  a(href="./img/library-london_1.jpg", target="_blank")
                    img(src="./img/library-london_1.jpg", width="795", height="440", alt="Визуализация библиотеки на местности в 3D редакторе.")
              button.photo-slider__button.photo-slider__button--next(type="button", name="photo-slider__button--next")
                span.visuallyhidden Следующее фото
              button.photo-slider__button.photo-slider__button--previous(type="button", name="photo-slider__button--previous")
                span.visuallyhidden Предыдущее фото
            h3.project-title.title3 Проект библиотеки в Лондоне в Гайд-парке
            p.project-description.main-text Вид проектных работ: международный конкурс
            p.project-description.main-text Тип проекта: библиотека
          li.projects__item.project.animated-appearance
            .project__photo.photo-slider
              ul.photo-slider__list
                li.photo-slider__item.photo-slide
                  a(href="./img/office-sukharevskaya_1.jpg", target="_blank")
                    img(src="./img/office-sukharevskaya_1.jpg", width="795", height="440", alt="Визуализация фасада здания на фото.")
              button.photo-slider__button.photo-slider__button--next(type="button", name="photo-slider__button--next")
                span.visuallyhidden Следующее фото
              button.photo-slider__button.photo-slider__button--previous(type="button", name="photo-slider__button--previous")
                span.visuallyhidden Предыдущее фото
            h3.project-title.title3 Фасад офисного здания на Сухаревской
            p.project-description.main-text Вид проектных работ: архитектурное решение
            p.project-description.main-text Тип проекта: многофункциональный торгово-офисный центр
          li.projects__item.project.animated-appearance
            .project__photo.photo-slider
              ul.photo-slider__list
                li.photo-slider__item.photo-slide
                  a(href="./img/airport-savino_1.jpg", target="_blank")
                    img(src="./img/airport-savino_1.jpg", width="795", height="440", alt="Визуализация интерьера аэропорта в 3D редакторе.")
              button.photo-slider__button.photo-slider__button--next(type="button", name="photo-slider__button--next")
                span.visuallyhidden Следующее фото
              button.photo-slider__button.photo-slider__button--previous(type="button", name="photo-slider__button--previous")
                span.visuallyhidden Предыдущее фото
            h3.project-title.title3
              | Аэропорт Большое Савино
              br
              | г. Пермь
            p.project-description.main-text Вид проектных работ: архитектурная концепция
            p.project-description.main-text Тип проекта: аэропорт
          li.projects__item.project.animated-appearance
            .project__photo.photo-slider
              ul.photo-slider__list
                li.photo-slider__item.photo-slide
                  a(href="./img/pavilion-cosmos_1.jpg", target="_blank")
                    img(src="./img/pavilion-cosmos_1.jpg", width="795", height="440", alt="Визуализация интерьера павильона в 3D редакторе.")
              button.photo-slider__button.photo-slider__button--next(type="button", name="photo-slider__button--next")
                span.visuallyhidden Следующее фото
              button.photo-slider__button.photo-slider__button--previous(type="button", name="photo-slider__button--previous")
                span.visuallyhidden Предыдущее фото
            h3.project-title.title3 Павильон Космос на ВДНХ
            p.project-description.main-text Вид проектных работ: дизайн интерьеров
            p.project-description.main-text Тип проекта: концепция музейного павильона
        a.section__link.links-text.animated-appearance(href="##", onclick="return false") Все проекты
    section.our-specialists.animated-appearance
      .wrapper
        .title-container
          h2.section__title.title3.animated-appearance Наши специалисты
        // Слайдер сотрудников
        .our-specialists__slider.employees-slider
          ul.employee__list.employee__list--right-shift
            li.employee
              a.employee__card-link.animated-appearance(href="./employee_mikhail-khoroshavtsev.pug")
                h3.employee__name.title3
                  | Михаил
                  br
                  | Хорошавцев
                img.employee__photo(src="./img/portrait_mikhail-khoroshavtsev.jpg", width="221", height="278", alt="портрет Михаила Хорошавцева.")
                p.employee__position.main-text Генеральный директор
                p.employee__link.links-text подробнее
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Василий
                  br
                  | Бирюков
                img.employee__photo(src="./img/portrait_vasily-biryukov.jpg", width="221", height="278", alt="портрет Василия Бирюкова.")
                p.employee__position.main-text Заместитель генерального директора
                p.employee__link.links-text подробнее
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Татьяна
                  br
                  | Хозиева
                img.employee__photo(src="./img/portrait_khozieva-tatyana.jpg", width="221", height="278", alt="портрет Татьяны Хозиевой.")
                p.employee__position.main-text Главный дизайнер
                p.employee__link.links-text подробнее
        a.section__link.links-text.animated-appearance(href="./team.pug") Все сотрудники
    include pug-blocks/section-bottom-advice.pug

block popups
  include pug-blocks/popup-callback.pug
