extends pug-blocks/page-layout.pug

block prepend variables
  - const currentPage = 'services';
  - const pageTitle = 'Услуги MS Architects';

block main
  main.main
    h1.visuallyhidden Услуги компании MS Architects.
    .wrapper
      .top-image
        img(src="./img/library-london_1.jpg", width="967", height="628", alt="Визуализация на местности библиотеки в Гайд-парке Лондона.")
    include pug-blocks/section-our-services.pug
    include pug-blocks/section-our-other-services.pug
    include pug-blocks/section-bottom-advice.pug

block popups
  include pug-blocks/popup-callback.pug
