extends pug-blocks/page-layout.pug

block prepend variables
  - const currentPage = 'team';
  - const pageTitle = 'Команда MS Architects';

block main
  main.main
    h1.visuallyhidden Команда компании MS Architects.
    .wrapper
      .top-image
        img(src="./img/weare.jpg", width="967", height="628", alt="Коллективная фотография сотрудников.")
    section.our-team
      .wrapper
        .title-container.animated-appearance
          h2.page__title.title2
            | Команда,
            br
            | которой мы
            br
            | гордимся
            br
        p.our-team__thesis.main-text.animated-appearance
          | Наша команда состоит исключительно из опытных специалистов, имеющих высшее архитектурное образование. Процессом работы руководит непосредственно автор проекта — главный архитектор, которого дополняют конструкторы, инженеры и визуализаторы.
      .our-team__catalog.animated-appearance
        ul.employee__list
          li.employee
            a.employee__card-link.animated-appearance(href="./employee_mikhail-khoroshavtsev.pug")
              h3.employee__name.title3
                | Михаил
                br
                | Хорошавцев
              img.employee__photo(src="./img/portrait_mikhail-khoroshavtsev.jpg", width="221", height="278", alt="портрет Михаила Хорошавцева.")
              p.employee__position.main-text Генеральный директор
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Василий
                br
                | Бирюков
              img.employee__photo(src="./img/portrait_vasily-biryukov.jpg", width="221", height="278", alt="портрет Василия Бирюкова.")
              p.employee__position.main-text Заместитель генерального директора
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Татьяна
                br
                | Хозиева
              img.employee__photo(src="./img/portrait_khozieva-tatyana.jpg", width="221", height="278", alt="портрет Татьяны Хозиевой.")
              p.employee__position.main-text Главный дизайнер
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Полина
                br
                | Черкашина
              img.employee__photo(src="./img/portrait_polina-cherkashina.jpg", width="221", height="278", alt="портрет Полины Черкашиной.")
              p.employee__position.main-text Коммерческий директор
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Евгения
                br
                | Базанова
              img.employee__photo(src="./img/portrait_evgenia-bazanova.jpg", width="221", height="278", alt="портрет Евгении Базановой.")
              p.employee__position.main-text Дизайнер
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Анна
                br
                | Нашкорян
              img.employee__photo(src="./img/portrait_anna-nashkoryan.jpg", width="221", height="278", alt="портрет Анны Нашкорян.")
              p.employee__position.main-text Архитектор
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Татьяна
                br
                | Ерасова
              img.employee__photo(src="./img/portrait_tatyana-erasova.jpg", width="221", height="278", alt="портрет Татьяны Ерасовой.")
              p.employee__position.main-text Архитектор
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Олеся
                br
                | Яровая
              img.employee__photo(src="./img/portrait_olesya-yarovaya.jpg", width="221", height="278", alt="портрет Олеси Яровой.")
              p.employee__position.main-text Архитектор
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Виктор
                br
                | Борисов
              img.employee__photo(src="./img/portrait_victor-borisov.jpg", width="221", height="278", alt="портрет Виктора Борисова.")
              p.employee__position.main-text Архитектор-конструктор
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Дмитрий
                br
                | Николаев
              img.employee__photo(src="./img/portrait_dmitry-nikolaev.jpg", width="221", height="278", alt="портрет Дмитрия Николаева.")
              p.employee__position.main-text Инженер-архитектор
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Евгений
                br
                | Матюшкин
              img.employee__photo(src="./img/portrait_evgeny-matyushkin.jpg", width="221", height="278", alt="портрет Евгения Матюшкина.")
              p.employee__position.main-text Ведущий архитектор
              p.employee__link.links-text биография и контакты
          li.employee
            a.employee__card-link.animated-appearance(href="##", onclick="return false")
              h3.employee__name.title3
                | Марина
                br
                | Ляутер
              img.employee__photo(src="./img/portrait_marina-lauter.jpg", width="221", height="278", alt="портрет Марины Ляутер.")
              p.employee__position.main-text Главный дизайнер
              p.employee__link.links-text биография и контакты
    include pug-blocks/section-bottom-something4you.pug
