doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Команда MS Architects
    link(rel="stylesheet", href="./css/normalize.css")
    link(rel="stylesheet", href="./css/style.css")
    link(rel="shortcut icon", href="./img/favicon.png", type="image/png")
  body
    header.header
      .wrapper
        a.header__logo(href="./index.pug")
          img.ms-logo(src="./img/ms-architects_logo.png", width="249", height="81", alt="логотип MS Architects.")
        nav.header__nav.site-nav
          ul.site-nav__list
            li.site-nav__item.site-nav__item--active
              a.menu-text(href="./index.pug")
                span Архитектурное бюро
              .site-nav__sub
                ul.site-nav__sub-list
                  li.site-nav__sub-item
                    a.menu-text.site-nav__sub-link(href="./company.pug") О компании
                  li.site-nav__sub-item.site-nav__sub-item--current
                    a.menu-text.site-nav__sub-link Команда
                  li.site-nav__sub-item
                    a.menu-text.site-nav__sub-link(href="./employee_mikhail-khoroshavtsev.pug") Карточка сотрудника
            li.site-nav__item
              a.menu-text(href="./services.pug")
                span Услуги
            li.site-nav__item
              a.menu-text(href="##", onclick="return false")
                span Портфолио
            li.site-nav__item
              a.menu-text(href="##", onclick="return false")
                span Экспертные статьи
            li.site-nav__item
              a.menu-text(href="./contacts.pug")
                span Контакты
    main.main
      h1.visuallyhidden Команда компании MS Architects.
      .wrapper
        .top-image
          img(src="./img/weare.jpg", width="967", height="628", alt="Коллективная фотография сотрудников.")
      section.our-team
        .wrapper
          .title-container.animated-appearance
            h2.page__title.title2
              | Команда,
              br
              | которой мы
              br
              | гордимся
              br
          p.our-team__thesis.main-text.animated-appearance
            | Наша команда состоит исключительно из опытных специалистов, имеющих высшее архитектурное образование. Процессом работы руководит непосредственно автор проекта — главный архитектор, которого дополняют конструкторы, инженеры и визуализаторы.
        .our-team__catalog.animated-appearance
          ul.employee__list
            li.employee
              a.employee__card-link.animated-appearance(href="./employee_mikhail-khoroshavtsev.pug")
                h3.employee__name.title3
                  | Михаил
                  br
                  | Хорошавцев
                img.employee__photo(src="./img/portrait_mikhail-khoroshavtsev.jpg", width="221", height="278", alt="портрет Михаила Хорошавцева.")
                p.employee__position.main-text Генеральный директор
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Василий
                  br
                  | Бирюков
                img.employee__photo(src="./img/portrait_vasily-biryukov.jpg", width="221", height="278", alt="портрет Василия Бирюкова.")
                p.employee__position.main-text Заместитель генерального директора
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Татьяна
                  br
                  | Хозиева
                img.employee__photo(src="./img/portrait_khozieva-tatyana.jpg", width="221", height="278", alt="портрет Татьяны Хозиевой.")
                p.employee__position.main-text Главный дизайнер
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Полина
                  br
                  | Черкашина
                img.employee__photo(src="./img/portrait_polina-cherkashina.jpg", width="221", height="278", alt="портрет Полины Черкашиной.")
                p.employee__position.main-text Коммерческий директор
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Евгения
                  br
                  | Базанова
                img.employee__photo(src="./img/portrait_evgenia-bazanova.jpg", width="221", height="278", alt="портрет Евгении Базановой.")
                p.employee__position.main-text Дизайнер
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Анна
                  br
                  | Нашкорян
                img.employee__photo(src="./img/portrait_anna-nashkoryan.jpg", width="221", height="278", alt="портрет Анны Нашкорян.")
                p.employee__position.main-text Архитектор
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Татьяна
                  br
                  | Ерасова
                img.employee__photo(src="./img/portrait_tatyana-erasova.jpg", width="221", height="278", alt="портрет Татьяны Ерасовой.")
                p.employee__position.main-text Архитектор
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Олеся
                  br
                  | Яровая
                img.employee__photo(src="./img/portrait_olesya-yarovaya.jpg", width="221", height="278", alt="портрет Олеси Яровой.")
                p.employee__position.main-text Архитектор
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Виктор
                  br
                  | Борисов
                img.employee__photo(src="./img/portrait_victor-borisov.jpg", width="221", height="278", alt="портрет Виктора Борисова.")
                p.employee__position.main-text Архитектор-конструктор
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Дмитрий
                  br
                  | Николаев
                img.employee__photo(src="./img/portrait_dmitry-nikolaev.jpg", width="221", height="278", alt="портрет Дмитрия Николаева.")
                p.employee__position.main-text Инженер-архитектор
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Евгений
                  br
                  | Матюшкин
                img.employee__photo(src="./img/portrait_evgeny-matyushkin.jpg", width="221", height="278", alt="портрет Евгения Матюшкина.")
                p.employee__position.main-text Ведущий архитектор
                p.employee__link.links-text биография и контакты
            li.employee
              a.employee__card-link.animated-appearance(href="##", onclick="return false")
                h3.employee__name.title3
                  | Марина
                  br
                  | Ляутер
                img.employee__photo(src="./img/portrait_marina-lauter.jpg", width="221", height="278", alt="портрет Марины Ляутер.")
                p.employee__position.main-text Главный дизайнер
                p.employee__link.links-text биография и контакты
      section.bottom.something4you
        .wrapper
          .title-container
            h2.section__title.title2 У нас есть кое-что для вас
          .something4you__invitation
            p.something4you__text.cta-text
              | Вам интересны дизайн, проектирование, инженеринг?
              br
              | Вы студент или уже состоявшийся профи?
            a.something4you__link.links-text.section__link(href="##", onclick="return false") Присоединяйтесь к нам!
    footer.footer
      .wrapper
        .footer__box
          a.footer__logo(href="./index.pug")
            img.ms-logo(src="./img/ms-architects_logo.png", width="232", height="75", alt="логотип MS Architects.")
          .footer__feedback
            a.footer__tel.main-text(href="tel:+7") +7 (499) 346-70-56
            p.footer__address.main-text Москва, Нижняя Красносельская, д. 35, стр. 48
            a.footer__email.main-text(href="mailto:msarchitects") msarchitects@mail.ru
            ul.footer__socials.socials__list
              li
                a.socials__item.socials__link--fb(href="##", onclick="return false")
                  span.visuallyhidden Facebook
              li
                a.socials__item.socials__link--insta(href="##", onclick="return false")
                  span.visuallyhidden Instagram
              li
                a.socials__item.socials__link--vk(href="##", onclick="return false")
                  span.visuallyhidden Вконтакте
          ul.footer__nav.footer-nav
            li.footer-nav__item.menu-text
              a.footer-nav__link(href="./index.pug") Архитектурное бюро
            li.footer-nav__item.menu-text
              a.footer-nav__link(href="./contacts.pug") Контакты
            li.footer-nav__item.menu-text
              a.footer-nav__link(href="./services.pug") Услуги
            li.footer-nav__item.menu-text
              a.footer-nav__link(href="##", onclick="return false") Скачать презентацию
            li.footer-nav__item.menu-text
              a.footer-nav__link(href="##", onclick="return false") Портфолио
            li.footer-nav__item.menu-text
              a.footer-nav__link(href="##", onclick="return false") Экспертные статьи
            li.footer-nav__item.menu-text
              a.footer-nav__link(href="##", onclick="return false") Цены и акции
            li.footer-nav__item.menu-text
              a.footer-nav__link(href="##", onclick="return false") For foreigners
        p.footer__copyrights.extra-text
          | © Design: Alisa Melnichenko
          br
          |           © Web-development: Pavel Sokolovskii
          br
          br
          |           Данный сайт  является некоммерческим проектом, созданным в процессе обучения в школе UPROCK
    script(type="module", src="js/script.js")
